<a href="/">Home</a>
<a href="/adddoctor">Add doctor</a>
<a href="/addpatient">Add patient</a>
<a href="/listdoctors">List doctors</a>
<a href="/listpatients">List patients</a>
<a href="/deletepatients">Delete patients</a>
<a href="/updatedoctor">Update Doctor</a>

<!DOCTYPE html>
<html>
<body>
    <head>
        <link rel="stylesheet" href="patient.css">
    </head>

<h2>Add a Patient</h2>

<form action="/addnewpatient" method="POST">
  <label >Full name:</label><br>
  <input type="text"  name="fullname"><br>
  <label >DoctorID:</label><br>
  <input type="text" name="doctorid"><br>
  <label >Patient Age:</label><br>
  <input type="number" name="age" ><br>
  <label ></label>Date if visit:</label><br>
  <input type="date"  name="dov" ><br>
  <label >Case Description:</label><br>
  <input type="text"  name="casedescription"><br><br>
  <input type="submit" value="Submit">

</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>