<a href="/">Home</a>
<a href="/adddoctor">Add doctor</a>
<a href="/addpatient">Add patient</a>
<a href="/listdoctors">List doctors</a>
<a href="/listpatients">List patients</a>
<a href="/deletepatients">Delete patients</a>
<a href="/updatedoctor">Update Doctor</a>


<!DOCTYPE html>
<html>
<body>

<h2>Delete Patient</h2>

<form action="/">
  <label for="patientfullname">Full Name:</label><br>
  <input type="text" id="patientfullname" name="patientfullname" ><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>