<a href="/">Home</a>
<a href="/adddoctor">Add doctor</a>
<a href="/addpatient">Add patient</a>
<a href="/listdoctors">List doctors</a>
<a href="/listpatients">List patients</a>
<a href="/deletepatients">Delete patients</a>
<a href="/updatedoctor">Update Doctor</a>

<html>
    <head>
        <link rel="stylesheet" href="patient.css">
    </head>
<body>
    <h1>List Doctors</h1> </br>
    <table>

        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Date of birth</td>
            <td>State</td>
            <td>Suburb</td>
            <td>Street</td>
            <td>Unit</td>
            <td>Number of patients</td>
        </tr>
        <% for (let i=0;i<patientDb.length;i++){ %>
            <tr>
                <td><%= patientDb[i].name.firstname %> </td>
                <td> <%= patientDb[i].name.lastname%> </td>
                <td><%= patientDb[i].dob %></td>
                <td> <%= patientDb[i].address.state %> </td>
                <td><%= patientDb[i].address.suburb %></td>
                <td><%= patientDb[i].address.street %></td>
                <td> <%= patientDb[i].address.unit %> </td>
                <td><%= patientDb[i].nop %></td>
            </tr>
            <%}%>
    </table>
</body>
</html>