<a href="/">Home</a>
<a href="/adddoctor">Add doctor</a>
<a href="/addpatient">Add patient</a>
<a href="/listdoctors">List doctors</a>
<a href="/listpatients">List patients</a>
<a href="/deletepatients">Delete patients</a>
<a href="/updatedoctor">Update Doctor</a>


<!DOCTYPE html>
<html>
<body>
    <head>
        <link rel="stylesheet" href="patient.css">
    </head>

<h2>Update Doctor</h2>

<form action="/updatedoctorpost" method="POST">
  <label for="doctorid">Doctor ID:</label><br>
  <input type="text" id="doctorid" name="doctorid" ><br>
  <label >Number of Patients:</label><br>
  <input type="text"  name="nop" ><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
